<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        canvas {
            border: 1px solid #000;
        }
        #player, #target, #hazard, #oneUp, #background {
            display: none;
        }
    </style>
</head>
<body>
    <canvas id="gameCanvas" width="800" height="800"></canvas>
    <script src="../static/game.js"></script>

    <img id="player" src="../static/game/player.png">
    <img id="target" src="../static/game/target.png">
    <img id="hazard" src="../static/game/hazard.png">
    <img id="oneUp" src="../static/game/oneUp.png">
    <img id="background" src="../static/game/background.png">
</body>
</html>