<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="styles.css" rel="stylesheet">
    <link rel = "stylesheeet" href = "style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://cdn.rawgit.com/shramov/leaflet-plugins/leaflet-1.2.0/layer/tile/Google.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.lightbox/dist/leaflet.lightbox.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.lightbox/dist/leaflet.lightbox.js"></script>
    <title>Karte</title>
    <style>
        .map {
            height: 1000px;
        }
        .lightbox {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.welcome-message {
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            font-weight: light;
            color: #FFFFFF;
        }
        .navbar-nav {
            position: relative;
        }
</style>
</head>
<body>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <h1 class = "welcome-message"> Aizkraukles izzinošā karte </h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="http://visitaizkraukle.lv/" class="btn btn-outline-dark text-light">
                                <button type="button" class="btn btn-outline-dark text-light">Visit Aizkraukle</button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="vietas.html" class="btn btn-outline-dark text-light">
                                <button type="button" class="btn btn-outline-dark text-light">Izzini vietas</button>
                            </a>
                            </li>
                            <li class="nav-item">
                                <a href="speles.html" class="btn btn-outline-dark text-light">
                                <button type="button" class="btn btn-outline-dark text-light">Spēles</button>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

   <div id="map" class="map"></div>

    <script>

    var map = L.map('map').setView([56.5983777521382, 25.250070015595], 13);

        // Add the Google Maps layer to the map
        var googleHybrid = L.tileLayer('http://{s}.google.com/vt?lyrs=s,h&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0','mt1','mt2','mt3']
        }).addTo(map);
        var googleRoadmap = L.tileLayer('http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0','mt1','mt2','mt3']
    })

        var baseLayers = {
    "Google Roadmap": googleRoadmap,
    "Google Hybrid": googleHybrid,

};


googleRoadmap.addTo(map);

function createCafeMarker(map, iconUrl, coordinates, popupUrl) {
    var cafeIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 50],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var cafeMarker = L.marker(coordinates, { icon: cafeIcon }).addTo(map);

    cafeMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return cafeMarker;
}

// Create a layer group for cafes
function createCafeLayerGroup(map) {
    var cafeGroup = L.layerGroup();

    // Add cafe markers to the layer group
    createCafeMarker(map, '../static/cafe.png', [56.64898330950422, 25.12054209745869], 'http://www.majassaldejums.lv').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.647415, 25.122213], 'http://visitaizkraukle.lv/bari/bars-lakosta').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.625164, 25.086712], 'https://www.klidzina.lv/').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.600006, 25.654915], 'https://liepkalni.lv/lv/index').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.577438, 25.226524], 'http://visitaizkraukle.lv/edinasana/kafejnica-romantika').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.596783, 25.245852], 'http://visitaizkraukle.lv/edinasana/krasta-krogs').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.598583, 25.246223], 'http://visitaizkraukle.lv/edinasana/kafejnica-cepiens').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.599377, 25.250486], 'https://kwb.lv/').addTo(cafeGroup);
    createCafeMarker(map, '../static/cafe.png', [56.643398, 25.427700], 'http://visitaizkraukle.lv/edinasana/krodzins-rudolfs').addTo(cafeGroup);

    return cafeGroup;
}

// Create and add the cafe layer group to the map
var cafeLayerGroup = createCafeLayerGroup(map);
cafeLayerGroup.addTo(map);

// Add layer control

function createdarzsMarker(map, iconUrl, coordinates, popupUrl) {
    var darzsIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 50],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var darzsMarker = L.marker(coordinates, { icon: darzsIcon }).addTo(map);

    darzsMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return darzsMarker;
}

function createdarzsLayerGroup(map) {
    var darzsGroup = L.layerGroup();
    createdarzsMarker(map, '../static/darzs.png', [56.63513293273697, 25.442591268692485], 'https://www.liktendarzs.lv').addTo(darzsGroup);
    createdarzsMarker(map, '../static/darzs.png', [56.271397, 25.174673], 'http://visitaizkraukle.lv/apskates_objekti/romalda_gurkla_lielo_koka_figuru_darzs').addTo(darzsGroup);
    createdarzsMarker(map, '../static/darzs.png', [56.596371, 25.247849], 'http://visitaizkraukle.lv/apskates_objekti/kalka-cepla-drupas-un-dolomitu-atsegumi').addTo(darzsGroup);
    createdarzsMarker(map, '../static/darzs.png', [56.699875, 25.817486], 'http://visitaizkraukle.lv/apskates_objekti/vesetas-palienes-purvs').addTo(darzsGroup);
    createdarzsMarker(map, '../static/darzs.png', [56.623272, 25.043024], 'http://visitaizkraukle.lv/apskates_objekti/sunu-taka').addTo(darzsGroup);
    return darzsGroup;
}

var darzsLayerGroup = createdarzsLayerGroup(map);
darzsLayerGroup.addTo(map);

function createMuzejsMarker(map, iconUrl, coordinates, popupUrl) {
    var muzejsIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 50],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var MuzejsMarker = L.marker(coordinates, { icon: muzejsIcon }).addTo(map);

    MuzejsMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return MuzejsMarker;
}

function createMuzejsLayerGroup(map) {
    var muzejsGroup = L.layerGroup();
    createMuzejsMarker(map, '../static/muzejs.png', [56.196922, 25.380306], 'http://visitaizkraukle.lv/apskates_objekti/jana-jaunsudrabina-muzejs-riekstini').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.199856, 25.313932], 'http://visitaizkraukle.lv/apskates_objekti/neretas_novadpetniecibas_muzejs ').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.187351, 25.242300], 'http://visitaizkraukle.lv/apskates_objekti/gricgales_mednu_krogs').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.615116, 25.224726], 'http://www.aizkrauklesmuzejs.lv/').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.599152, 25.272106], 'http://visitaizkraukle.lv/apskates_objekti/aizkraukles-vestures-un-makslas-muzejs-kalna-ziedi').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.745636, 25.102098], 'https://www.muzikanti.lv/').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.617054, 25.078545], 'http://visitaizkraukle.lv/apskates_objekti/petera-graudula-muzejs-dailamatnieka-seta').addTo(muzejsGroup);
    createMuzejsMarker(map, '../static/muzejs.png', [56.722176, 25.488577], 'http://visitaizkraukle.lv/apskates_objekti/latvijas_biskopibas_vestures_muzejs').addTo(muzejsGroup);

    return muzejsGroup;
}

var MuzejsLayerGroup = createMuzejsLayerGroup(map);
MuzejsLayerGroup.addTo(map);


function createPilsMarker(map, iconUrl, coordinates, popupUrl) {
    var pilsIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 95],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var PilsMarker = L.marker(coordinates, { icon: pilsIcon }).addTo(map);

    PilsMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return PilsMarker;
}
function createPilsLayerGroup(map) {
    var pilsGroup = L.layerGroup();
    createPilsMarker(map, '../static/pils.png', [56.195370, 25.156075], 'http://visitaizkraukle.lv/apskates_objekti/strobuku-pilskalns').addTo(pilsGroup);
    createPilsMarker(map, '../static/pils.png', [56.599735, 25.274021], 'http://visitaizkraukle.lv/apskates_objekti/kalnaziedu_pilskalns').addTo(pilsGroup);
    createPilsMarker(map, '../static/pils.png', [56.63829812366905, 25.41759360725397], 'https://www.latvia.travel/lv/apskates-vieta/kokneses-pilsdrupas').addTo(pilsGroup);

    return pilsGroup;

}

var PilsLayerGroup = createPilsLayerGroup(map);
PilsLayerGroup.addTo(map);

function createMuizaMarker(map, iconUrl, coordinates, popupUrl) {
    var muizaIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [150, 95],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var MuizaMarker = L.marker(coordinates, { icon: muizaIcon }).addTo(map);

    MuizaMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return MuizaMarker;
}

function createMuizaLayerGroup(map) {
    var muizaGroup = L.layerGroup();
    createMuizaMarker(map, '../static/muiza.png', [56.281448, 25.026699], 'http://visitaizkraukle.lv/apskates_objekti/vecmemeles_muiza').addTo(muizaGroup);
    createMuizaMarker(map, '../static/muiza.png', [56.326195, 25.247431], 'http://visitaizkraukle.lv/apskates_objekti/lielzalves_muiza').addTo(muizaGroup);
    createMuizaMarker(map, '../static/muiza.png', [56.712337, 25.685585], 'https://odzienasmuiza.lv/').addTo(muizaGroup);
    createMuizaMarker(map, '../static/muiza.png', [56.722805, 25.482252], 'http://visitaizkraukle.lv/apskates_objekti/vecbebru_muizas_komplekss').addTo(muizaGroup);

    return muizaGroup;


}
var MuizaLayerGroup = createMuizaLayerGroup(map);
MuizaLayerGroup.addTo(map);


function createZooMarker(map, iconUrl, coordinates, popupUrl) {
    var zooIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 50],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var ZooMarker = L.marker(coordinates, { icon: zooIcon }).addTo(map);

    ZooMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return ZooMarker;
}
function createZooLayerGroup(map) {
    var zooGroup = L.layerGroup();
    createZooMarker(map, '../static/zoo.png', [56.751640, 25.613997], 'http://visitaizkraukle.lv/apskates_objekti/mini-zoo-karlinas').addTo(zooGroup);
    return zooGroup;
}

var ZooLayerGroup = createZooLayerGroup(map);
ZooLayerGroup.addTo(map);

function createCitiMarker(map, iconUrl, coordinates, popupUrl) {
    var citiIcon = L.icon({
        iconUrl: iconUrl,
        iconSize: [40, 50],
        iconAnchor: [20, 40],
        popupAnchor: [-3, -76]
    });

    var CitiMarker = L.marker(coordinates, { icon: citiIcon }).addTo(map);

    CitiMarker.on('click', function() {
        window.location.href = popupUrl;
    });

    return CitiMarker;
}

function createCitiLayerGroup(map) {
    var citiGroup = L.layerGroup();
    createCitiMarker(map, '../static/pilseta.png', [56.617348, 25.081736], 'http://visitaizkraukle.lv/apskates_objekti/jaunjelgavas_pilsetas_vesturiskais_centrs').addTo(citiGroup);
    createCitiMarker(map, '../static/eka.png', [56.644146, 25.116262], 'https://www.radada.lv/').addTo(citiGroup);
    return citiGroup;
}

var CitiLayerGroup = createCitiLayerGroup(map);
CitiLayerGroup.addTo(map);



// Add layer control
L.control.layers(baseLayers, { "Kafejnīcas": cafeLayerGroup , "Daba": darzsLayerGroup, "Muzeji": MuzejsLayerGroup, "Pilis": PilsLayerGroup, "Muižas": MuizaLayerGroup, "Zoo": ZooLayerGroup, "Citi": CitiLayerGroup}).addTo(map);

    </script>
</body>
</html>
